@page

<!DOCTYPE html>
<html>
<head>
    <title>Home Rajini Ayurvedic Center</title>
    <!--link rel="stylesheet" type="text/css" href="Home.css"-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>
        body {
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-color: #0000;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .text {
            margin-top: 12px;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }

            .text h2 {
                text-align: center;
                font-size: 24px;
                color: #000000;
                text-shadow: 1px 1px #000;
            }

            .text h1 {
                text-align: center;
                font-size: 48px;
                color: #000000;
                text-shadow: 1px 1px #000;
            }

            .text p {
                font-size: 16px;
                text-align: justify;
                color: #000000;
                text-shadow: 1px 1px #000;
                margin-top: 20px;
                line-height: 1.5;
                max-width: 800px;
                padding: 0 20px;
            }

        /* Navbar Brand */
        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
        }

        /* Navbar Toggler Icon */
        .navbar-toggler-icon {
            background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
        }

        /* Navbar Links */
        .navbar-nav .nav-link {
            font-size: 1.2rem;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.8);
            padding: 0.5rem 1.5rem;
        }

            .navbar-nav .nav-link:hover,
            .navbar-nav .nav-link:focus {
                color: rgba(0, 0, 0, 1);
                background-color: rgba(0, 0, 0, 0.1);
            }

        /* Active Link */
        .navbar-nav .active > .nav-link {
            color: rgba(0, 0, 0, 1);
            background-color: black;
        }

        .navbar {
            background-color: hsl(195, 65%, 19%);
        }


        footer {
            margin-top: 50px;
            background-color: hsl(195, 65%, 19%);
            padding: 24px 0;
            font-size: 16px;
            color: #ffffff;
        }

            footer h4 {
                font-weight: bold;
                margin-bottom: 10pxpx;
                color: #ffffff;
            }

            footer ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            footer li {
                line-height: 2;
            }

            footer i.fa {
                font-size: 24px;
                margin-right: 10px;
                color: #000000;
            }

        .social-icons {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .social-icons li {
                display: inline-block;
                margin-right: 10px;
            }

                .social-icons li:last-child {
                    margin-right: 0;
                }

            .social-icons a {
                display: inline-block;
                color: #000000;
                font-size: 24px;
                line-height: 1;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                text-align: center;
                background-color: hsl(195, 65%, 19%);
                transition: all 0.3s ease-in-out;
            }

                .social-icons a:hover {
                    background-color: hsl(195, 65%, 19%);
                    color: #000000;
                }
    </style>

</head>
<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
<body>
    
    <div class="container" style="margin-top:80px;">
        <div class="text"">
            <h1>Welcome to Rajini Ayurvedic Center</h1>
            <iframe width="750" height="400" src="https://www.youtube.com/embed/jJJpS8VwQp0" frameborder="1"></iframe>
            <h2>Ayurveda</h2>
            <p>Ayurveda, a natural system of medicine, originated in India more than 3,000 years ago. The term Ayurveda is derived from the Sanskrit words ayur (life) and veda (science or knowledge). Thus, Ayurveda translates to knowledge of life. Based on the idea that disease is due to an imbalance or stress in a person's consciousness, Ayurveda encourages certain lifestyle </p>
            <p>interventions and natural therapies to regain a balance between the body, mind, spirit, and the environment. Ayurveda treatment starts with an internal purification process, followed by a special diet, herbal remedies, massage therapy, yoga, and meditation. The concepts of universal interconnectedness, the body's constitution (prakriti), and life forces (doshas) are the primary basis of ayurvedic medicine. Goals of treatment aid the person by eliminating impurities, reducing symptoms, increasing resistance to disease, reducing worry, and increasing harmony in life.</p>

        </div>
    </div>

    


    <script src="script.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
